$black-ish: #0d1821;
$gray-ish: #172b3a;
$tag-color-1: #c8957e;
$tag-color-2: #c87ec1;
$tag-color-3: #c87ea5;
$tag-color-4: #817ec8;
$tag-color-5: #7ec89a;
$tag-color-6: #b4c87e;
$tag-color-7: #7ebac8;
$tag-color-8: #7e87c8;
$tag-colors: (
  $tag-color-1,
  $tag-color-2,
  $tag-color-3,
  $tag-color-4,
  $tag-color-5,
  $tag-color-6,
  $tag-color-7,
  $tag-color-8
);
$blue-ish: #508dce;
$light-light-gray-ish: #f0f3fa;
$light-gray-ish: #adadad;
$yellow-ish: #fffd70;
$white-ish: #e1e7f5;
$link-hover-color: #007bff;
